body, * {
  font-family: "Roboto Mono", monospace;
}

.container .row {
  margin-bottom: 10px;
}

#main {
  max-width: 800px;
}

#game_final_result {
  padding: 10px;

}

#game_final_result_text {
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

#game_final_result_name {
  font-size: 150%;
  text-align: center;
  display: block;
}

div.correct {
  background-color: #000;
}

div.moved {
  background-color: #888;
}
