body, * {
  font-family: "Roboto Mono", monospace;
}

.container .row {
  margin-bottom: 10px;
}

#main {
  max-width: 360px;
  width: 360px;
  padding: 10px 0;
}

#game_final_result {
  padding: 10px;
  display: none;
}

#game_final_result_text {
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 5px
}

#game_final_result_name {
  font-size: 150%;
  text-align: center;
  display: block;
  margin: 0;
}

div.correct {
  background-color: #6aaa64;
}

div.moved {
  background-color: #c9b458;
}

div.incorrect {
  background-color: #bbbbbb;
}

#header {
  width: 100%;
  background-color: #bbb;
  border-bottom: 1px solid #bbb;
  margin-bottom: 1px;
}

#header div.row {
  margin-bottom: 0;
}

#header>div {
  max-width: 360px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

#header div h1 {
  font-size: 26px;
  text-align: left;
  padding: 2px;
  padding-top: 5px;
}

#help_button {
  padding-left: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.dragon_element_column {
  max-width: 50px;
  width: 50px;
}

#game_tries_elements_container_row .dragon_element_column {
  max-width: 80px;
  width: 80px;
  max-height: 50px;
}

#game_tries_old_elements_container_row .dragon_element_column {
  max-width: 80px;
  width: 80px;
  max-height: 50px;
}

#game_form {
  display: none;
}

#game_select {
  margin-top: 10px;
}

img.mx-auto {
  border: 2px solid black;
  margin: 2px;
}

#game_select_container div.dragon_element_column {
  width: 42px;
  max-width: 47px;
}

div.tries_element_row {
  max-width: 100%;
  margin-left: 2px;
  border: 1px solid black;
  margin-bottom: 5px !important;
}

div.tries_element {
  border: 0;
  width: 90px;
  max-width: 90px;
  height: 45px;
}

div.tries_element img {
  height: 45px;
}

img.row_element_img {
  margin: 0;
  border: 0;
}

#game_final_result_dragon img {
  border: 0;
}

#game_final_result_play_dc {
  border: 0
}

#game_final_result_copy_text {
  display: none;
}

#game_final_result_text.lose {
  color: red;
}

#game_final_result_text.win {
  color: green;
}

#game_tries_elements div.instructions {
  text-align: center;
  font-size: 80%;
}

#help-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

#help-modal img.help-img-mini {
  height: 40px;
}

img.no-border {
  border: 0;
}
